/* body of website */
body{
    background: #FFFFFF;
    font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
}
/* main banner for website */
.container{
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin: 50px 5% 0;
}
.heding-banner{
    color: #FFFFFF;
    padding: 111px 24px 111px 106px;
}
.heading-button button{
    background: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    width: 187px;
    height: 56px;
}
.marcelo{
    padding: 33px 79px 0 0;
}
.marcelo img:hover{
    transform: scale(1.25, 1.5);
}
.nav-and-card{
    margin: 50px 5% 0;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 3fr;
}
.shedule{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    align-items: center;
    justify-content: space-around;  
    border-radius: 15px; 
    width: 75%;
    height: 300px;
}
.shedule button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: bolder;
/* position: sticky; */
}
.shedule button:hover{
    background-color: #DD0000;
    color: #FFFFFF;
}
.shedule-button{
    position: sticky;
    top: 400px;
}
/* match shedule */
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    border: 1px solid #E8E8E8;
    border-radius: 15px;
    padding: 30px;
}
.card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body p{
    padding-left: 30px;
}
/* footer css */
.footer{
    background-color: #161616;
    height: 444px;
    margin-top: 130px;
}
.footer-head{
    color: #FFFFFF;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 20px;
}
hr{
    margin-left: 10%;
    margin-right: 10%;
}
.footer-terms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.terms{
    margin-right: 30px;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.social-media span{
    color: #FFFFFF;
    font-size: 30px;
}
.viewAllButton{
    display: none;
}

@media only screen and (min-width:460px) and (max-width:900px){
    /* main abnner for tablet */
.nav-and-card{
    margin: 50px 5% 0;
    gap: 30px;
    display: block;
}
/* shedule match */
.shedule{
    display: flex;
    background-color: #161616;
    align-items: center;
    justify-content: space-around;  
    border-radius: 15px; 
    height: 100%;
    padding: 20px;
    flex-direction: row;
    width:100%;
    margin-bottom: 20px;
}
.shedule-button{
    position: inherit;
    /* top: 400px; */
}
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
}
.card{
    width:75%
}
/* view all button for tab */
.viewAllSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewAllButton{
    height: 40px;
    width: 200px;
    background-color: red;
    border-radius: 20px;
    border-color: transparent;
    display: block;
}
/* fotter for the table */
.footer{
    margin-top: 10px;
}
.footer-terms{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    margin-top: 40px;

}
}
@media only screen and (max-width:460px) {
    /* banner of the website */
    .container{
        background-color: #161616;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        margin: 20px 1% 0;
    }
    .heding-banner p{
        white-space: nowrap; 
        width: 300px; 
        overflow: hidden;
        text-overflow: ellipsis; 
        border: 1px solid #000000;
    }
    .short-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
    /* nav and card for the website */
.nav-and-card{
    margin: 50px 5% 0;
    gap: 30px;
    display: block;
}

.shedule{
    display: flex;
    background-color: #161616;
    align-items: center;
    justify-content: space-around;  
    border-radius: 15px; 
    height: 100%;
    padding: 10px;
    flex-direction: row;
    width:100%;
    margin-bottom: 20px;
}
.shedule button{
    width: 100%;
}
.shedule-button{
    position: inherit;
    /* top: 400px; */
}
/* card body for match shedule */
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    width: 75%;
}
.card{
    width:75%
}
/* view all button for tablet */
.viewAllButton{
    display: none;
}
/* fotter for the mobile view */
.footer{
    height: auto;
}
.footer-terms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
}
}